* {
  font-family: arial, sans-serif;
  margin: 0;
}

.home {
  background-color: rgb(87, 238, 28);
  color: white;
  text-transform: uppercase;
}

body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  width: 75%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}

#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: left;
}

#main-section {
  flex-grow: 1;
}

#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #f50707;
  color: white;
}

.blue {
  background-color: #0665fd;
  color: white;
}